/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  max-width: 2560px;
  margin: auto;
  padding: 1rem;
}

/* ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #edf2f7;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #cbd5e0;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
} */
