/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  max-width: 2560px;
  margin: auto;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 3rem;
}

.addHeight {
  height: 40rem;
}

.addHeightTwo {
  height: 20rem;
}

.addWidth {
  width: 40rem;
}

.graycolor {
  color: rgb(228, 228, 231);
}

.deldiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0.75rem;
}
